<template>
    <div>
        <vue-dropzone
            v-if="(!multiple && medias.length < 1) || (multiple)"
            :options="dropOptions"
            :id="'dropzone'+name"
            @vdropzone-success="fileUploaded"
        />
        <input type="hidden" v-model="listString" :name="name"/>
        <input type="hidden" v-model="deletesString" :name="`${name}_deleted`"/>
        <template v-if="isImage">
            <div v-if="multiple && medias.length > 0" class="mt-4">
                <draggable :list="medias" handle=".image-container">
                    <div v-for="(media,idx) in medias" class="thumb">
                        <div class="image-container" :style="getBackground(media)"></div>
                        <div class="btn-row">
                            <div class="btn btn-sm" @click.prevent="editData(media)"><i class="fa fa-edit"></i></div>
                            <div class="btn btn-sm" @click.prevent="deleteItem(media, idx)"><i class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </draggable>
            </div>
            <div v-if="!multiple && medias.length > 0">
                <div v-for="(media,idx) in medias" class="thumb">
                    <div class="image-container" :style="getBackground(media)"></div>
                    <div class="btn-row">
                        <div class="btn btn-sm" @click.prevent="editData(media)"><i class="fa fa-edit"></i></div>
                        <div class="btn btn-sm" @click.prevent="deleteItem(media, idx)"><i class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showEditmodal">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Gegevens van de afbeelding</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <img :src="current.url"/>
                                            </div>
                                            <div class="col">
                                                <label>Alt text:</label>
                                                <input type="text" v-model="current.alt"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" v-on:click="cancelEditting">
                                            Annuleer
                                        </button>
                                        <button type="button" class="btn btn-success" v-on:click="updateCurrent">Pas
                                            aan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>
        </template>
        <template v-else>
            <div v-if="multiple && medias.length > 0" class="mt-4">
                <draggable :list="medias" handle=".document-container">
                    <div v-for="(media,idx) in medias" class="doc-tile">
                        <div class="document-container">{{ media.url }}</div>
                        <div class="btn-row">
                            <div class="btn btn-sm" @click.prevent="deleteItem(media, idx)"><i class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </draggable>
            </div>
            <div v-if="!multiple && medias.length > 0">
                <div v-for="(media,idx) in medias" class="doc-tile">
                    <div class="document-container">{{ media.url }}</div>
                    <div class="btn-row">
                        <div class="btn btn-sm" @click.prevent="deleteItem(media, idx)"><i class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import vueDropzone from "vue2-dropzone";
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import draggable from 'vuedraggable';

export default {
    name: 'MediaContainer',
    components: {vueDropzone, draggable},
    data: () => ({
        name: 'mediaField',
        isImage: true,
        multiple: true,
        medias: [],
        deleted: [],
        dropOptions: {
            url: "",
            headers: {},
            params: {
                type_id: 1,
            },
            multiple: true,
            init: function () {
                this.on("complete", function (file) {
                    this.removeFile(file);
                });
            }
        },
        showEditmodal: false,
        current: {
            url: '',
            alt: ''
        },
    }),
    props: {},
    computed: {
        listString() {
            return JSON.stringify(this.medias);
        },
        deletesString() {
            return JSON.stringify(this.deleted);
        }
    },
    created() {
        this.name = fieldData.name;
        this.isImage = fieldData.isImage;
        this.multiple = fieldData.multiple;
        this.dropOptions.multiple = fieldData.multiple;
        this.dropOptions.url = fieldData.url;
        this.dropOptions.acceptedFiles = fieldData.acceptedFiles;
        this.dropOptions.headers = {"X-CSRF-TOKEN": fieldData.csrf};
        this.dropOptions.params.type_id = fieldData.type_id;
        this.dropOptions.dictDefaultMessage = fieldData.dropString;
        this.medias = (fieldData.medias === '0') ? [] : JSON.parse(fieldData.medias);
    },
    methods: {
        fileUploaded(file, response) {
            if(response.error && response.error.length > 0) {
                alert('Het uploaden van je bestand is helaas niet gelukt. Errormelding: ' + response.error)
            } else {
                let media = {
                    id: response.media_id,
                    url: response.url,
                    description: '',
                    alt: '',
                };
                this.medias.push(media);
            }
        },
        getBackground(media) {
            if (typeof media === 'undefined') {
                return {}
            } else {
                return {
                    backgroundImage: "url(" + media.url + ")"
                }
            }
        },
        deleteItem(media, idx) {
            this.deleted.push(media.id);
            this.medias.splice(idx, 1);
        },
        editData(media) {
            this.current = media;
            this.showEditmodal = true;
        },
        cancelEditting() {
            this.showEditmodal = false;
            this.current = {
                url: '',
                description: '',
                alt: ''
            };
        },
        updateCurrent() {
            let current = this.current;
            this.medias = this.medias.map(function (media) {
                if (media.id === current.id) {
                    media = current;
                }
                return media;
            });
            this.cancelEditting();
        },
    },
}
</script>

<style scoped lang="scss">
img {
    max-width: 100%;
}

.thumb {
    width: 126px;
    height: auto;
    border: 1px solid #ddd;
    padding: 3px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    .image-container {
        max-width: 120px;
        height: 80px;
        background-size: cover;
        background-position: center;
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.doc-tile {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin-bottom: 0.5rem;

    .document-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
    }
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
</style>
